$gray-1: #F2F2F2;
$gray-2: #E1E1E1;
$gray-3: #C8C8C8;
$gray-4: #757575;

$font-Titele: normal bold 24px 'Roboto', sans-serif;
$font-Subtitele: normal bold 20px 'Roboto', sans-serif;
$font-Subtitele2: normal bold 16px 'Roboto', sans-serif;
$font-TableInfomation: normal normal 14px 'Roboto', sans-serif;
$font-Remark: normal normal 16px 'Roboto', sans-serif;
$font-Placeholder: normal normal 16px 'Roboto', sans-serif;